<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./layout/head.ejs') %>
        <title>Book-app</title>


</head>

<body>
    <h1 id="indexh1">Welcome to you in our Book-app</h1>
    <form action="/searches/new" method="get">
        <button id="indexa" type="submit">Go to Search page</button>
    </form>
    <main class="main">
        <h2>There is
            <%=resultsNum %> books added to your menu</h2>
        <% if (results.length) { %>
            <% results.forEach(book=> {%>
                <div>
                    <img src="<%= book.image %>" alt="">
                    <p id="title">
                        <%= book.title %>
                    </p>
                    <p id="author">
                        <%= book.author %>
                    </p>
                    <a href='/books/<%= book.id %>' target="_blank" rel="noopener noreferrer">View details</a>
                </div>
                <% }) %>
                    <% } else { %>
                        <p>No data was found</p>

                        <% } %>

    </main>
</body>

</html>